{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <script> var exports = {};</script>

    <!-- React and related Scripts-->

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.7/purify.min.js"></script>
      <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
      <script src="https://unpkg.com/redux@latest/dist/redux.min.js"></script>
      <script src="https://unpkg.com/react-redux@latest/dist/react-redux.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>

    <!-- Reducers and combinedReducer link -->
    <!-- <script  type="text/javascript" src='{% static "main/js/reducers/reducer-update-conference-page.js"%}'></script> -->
     <script type="module" src='{% static "main/js/reducers/index.js"%}'></script>

     <!-- <script>
      console.log(combinedReducerOut)
     </script> -->

    <!--Adding the Header and its related components through external files -->
    <script type='text/jsx' src="{% static 'main/js/components/logout_state_component.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/login_state_component.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/header_component.js'%}"></script>



    <script type="text/jsx" >
      // Django specific parts, that require evaluation inside the template
        let header_data_json = {
          'edit_url': "{% url 'main:edit_user'%}"
          , 'logout_url': "{% url 'main:logout'%}"
          , 'login_url': "{% url 'main:login'%}"
          , 'index_url': "{% url 'main:index'%}"
        }

        ReactDOM.render( <HeaderComponent username='{{user.username}}' data_json={header_data_json}/>
        ,document.getElementById('header_component'))
    </script>

{% block javascript %}{% endblock %}

</head>

<body >

    <header id='header_component'>

    </header>

    <br> <br>

{%block body%}
{%endblock%}
</body>

</html>
