{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>

<body >

    <header>
        {% if user.username %}
            <nav class="navbar navbar-default">
            <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="#" class="bg-info">{{user.username}} </a></li>
                        <li><a href="{% url 'main:logout'%}">  <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
            </div>
        </nav>

        {% else %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'main:login'%}">  <span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                    </ul>
            </div>
        </nav>


        {% endif %}

    </header>

    <br> <br>

{%block body%}
{%endblock%}
</body>

</html>
