{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">

    <!-- React and Babel Script-->
      <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.7/purify.min.js"></script>
      <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type='text/jsx' src="{% static 'main/js/components/logout_state_component.js'%}"></script>

    {% block javascript %}
    <script type="text/jsx" >

        ReactDOM.render(<LogOutStateComponent login_url="{% url 'main:login'%}"/>
        ,document.getElementById('logout_state'))
    </script>

    {% endblock %}


</head>

<body >

    <header>

            <nav class="navbar navbar-default">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'main:index'%}"><strong>iHUB</strong></a>
                </div>

            <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">

                        {% if user.username %}
                            <li> <a href="{% url 'main:add_scholarship'%}" class="bg-warning"> + Scholarship </a></li>
                            <li> <a href="{% url 'main:add_conference'%}" class="bg-danger"> + Conference </a></li>
                            <li> <a href="{% url 'main:edit_user'%}" class="bg-info">{{user.username}} </a></li>
                            <li><a href="{% url 'main:logout'%}">  <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        {% else %}
                        <li id="logout_state"> </li>
                        {% endif %}
                    </ul>
            </div>
        </nav>







    </header>

    <br> <br>

{%block body%}
{%endblock%}
</body>

</html>
