
{%extends 'main/base.html'%}
{% load static %}

{%block title %}
    Conferences
{% endblock %}

{% block javascript %}



    <script type='text/jsx' src="{% static 'main/js/components/conference_row.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/conference_table.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/pagination_component.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/search_bar.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/filterable_conference_table.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/containers/container-filterable_conference_table.js'%}"></script>
    <script type='text/jsx' src='{% static "main/js/containers/container-search-bar.js"%}'></script>


    <script type="text/jsx">


  var Provider = window.ReactRedux.Provider

    ReactDOM.render(
      <Provider store = {store} >
        <div>
        <window.ContainerSearchBar/>
        <FilterableConferenceTable_Connected
        base_url="{% url 'main:get_conferences'%}"
        load_img='{%static "main/loading.gif"%}'/>
        </div>
      </Provider>
      , document.getElementById('conference_table'))

    </script>
{% endblock %}


{%block body%}

    <div id='conference_table'></div>


<a class="link" href="{%url 'main:index'%}">Back</a>

{% endblock %}
