
{%extends 'main/base.html'%}
{% load static %}

{%block title %}
    Conferences
{% endblock %}

{% block javascript %}

    <script type='text/jsx' src="{% static 'main/js/components/conference_row.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/conference_table.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/search_bar.js'%}"></script>
    <script type="text/jsx">
    // Test Data
    let conference_list =
    [
      {
      'info' : {
        'title' : 'Hello'
      },
      "fields_of_interest": [
            {
                "title": "magic"
            },
            {
                "title": "potions"
            },
            {
                "title": "skill 71"
            },
            {
                "title": "django"
            }
        ]
    },
    {
    'info' : {
      'title' : 'Pokemon'
    },
    "fields_of_interest": [
          {
              "title": "dragon"
          },
          {
              "title": "assassin"
          },

      ]
  },
  {
  'info' : {
    'title' : 'Hakan'
  },
  "fields_of_interest": [
        {
            "title": "fighter"
        },
        {
            "title": "street"
        },

    ]
}
  ]

    ReactDOM.render(<ConferenceList conference_list = {conference_list}/> , document.getElementById('conference_row'))
    ReactDOM.render(<ControlledSearchBar/>, document.getElementById('search_bar'))
    </script>
{% endblock %}


{%block body%}

    <div id='search_bar'></div>
    <div id='conference_row'></div>
    {% if conference_list %}

    <table border="1" class="centerTable">

        {% for each in conference_list%}

        <tr >
            <td class="row_space"><a href="{% url 'main:conference_details' each.id%}" class="link align_center" id="{{each.id}}"> {{each.info.title}}</a> </td>
            <td class="align_center row_space"> {{each.duration.start_date | date}}</td>

            <td class="align_center row_space">
            {%for skill in each.fields_of_interest.all%}
                    {{skill}},
            {%endfor%}
            </td>
        </tr>

        {% endfor %}


    </table>

    {% include 'includes/pagination.html' %}

    {% endif %}

<a class="link" href="{%url 'main:index'%}">Back</a>

{% endblock %}
