
{%extends 'main/base.html'%}
{% load static %}

{%block title %}
    Conferences
{% endblock %}

{% block javascript %}

    <script type='text/jsx' src="{% static 'main/js/components/conference_row.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/conference_table.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/search_bar.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/components/pagination_component.js'%}"></script>
    <script type='text/jsx' src="{% static 'main/js/containers/filterable_conference_table.js'%}"></script>



    <script type="text/jsx">
    // Test Data
    let conference_list =
    [
      {
      'info' : {
        'title' : 'Hello'
      },
      "fields_of_interest": [
            {
                "title": "magic"
            },
            {
                "title": "potions"
            },
            {
                "title": "skill 71"
            },
            {
                "title": "django"
            }
        ]
    },
    {
    'info' : {
      'title' : 'Pokemon'
    },
    "fields_of_interest": [
          {
              "title": "dragon"
          },
          {
              "title": "assassin"
          },

      ]
  },
  {
  'info' : {
    'title' : 'Hakan'
  },
  "fields_of_interest": [
        {
            "title": "fighter"
        },
        {
            "title": "street"
        },

    ]
},
{
'info' : {
  'title' : 'Ryu'
},
"fields_of_interest": [
      {
          "title": "fighter"
      },
      {
          "title": "street"
      },
      {
          "title": "haduken"
      },
      {
          "title": "legend"
      },

  ]
}
  ]

  let pagination_data= {
    'current_page':6,
    'pages':6,
    'next':null,
    'previous':5,
  }

  var Provider = window.ReactRedux.Provider

    ReactDOM.render(
      <Provider store = {store} >
        <FilterableConferenceTable_Connected
        base_url="{% url 'main:get_conferences'%}"
        pagination_data={pagination_data}
        load_img='{%static "main/loading.gif"%}'/>
      </Provider>
      , document.getElementById('conference_table'))

    </script>
{% endblock %}


{%block body%}

    <div id='conference_table'></div>


<a class="link" href="{%url 'main:index'%}">Back</a>

{% endblock %}
