{% extends "main/base.html"%}
{% load static %}
{% block title%}
        iHUB
{% endblock %}

{% block javascript%}


<script type="text/jsx">

  let app_data = {
    'load_img': '{%static "main/images/loading.gif"%}'
  }
  ReactDOM.render(
    <BrowserRouter>
      <Provider store = {store} >
        <App app_data = {app_data}/>
      </Provider>
    </BrowserRouter>
    , document.getElementById('root'))
</script>
{% endblock%}

{% block body%}

    <div id='root'>

    </div>

{% endblock %}
