{% extends "main/base.html"%}

{% block title%}
        iHUB
{% endblock %}

{% block body%}

    <ul >

        <div class="align_center">
            <li > <a class="link" href="{% url 'main:conference_listing'%}"> View Conferences</a></li>
        </div>

        <br><br>

        <div class="align_center">
            <li > <a class="link" href="{% url 'main:job_listing'%}"> View Job Positions</a></li>
        </div>

        <br><br>

        <div class="align_center">
            <li > <a class="link" href="{% url 'main:scholarship_listing'%}"> View Scholarships</a></li>
        </div>
    </ul>

{% endblock %}