
{%extends 'main/base.html'%}
{% load static %}
{%block title %}
    Student Job Positions
{% endblock %}

  {% block javascript%}
  <script type='text/jsx' src="{% static 'main/js/components/job_row.js'%}"></script>
  <script type='text/jsx' src="{% static 'main/js/components/job_table.js'%}"></script>
  <script type='text/jsx' src="{% static 'main/js/components/pagination_component.js'%}"></script>
  <script type='text/jsx' src="{% static 'main/js/components/search_bar.js'%}"></script>
  <script type='text/jsx' src="{% static 'main/js/components/filterable_job_table.js'%}"></script>
  <script type='text/jsx' src="{% static 'main/js/containers/container-filterable_job_table.js'%}"></script>
  <script type='text/jsx' src='{% static "main/js/containers/container-search-bar.js"%}'></script>


  <script type="text/jsx">
  var Provider = window.ReactRedux.Provider
  ReactDOM.render(
    <Provider store = {store} >
      <div>
      <window.ContainerSearchBar/>
      <FilterableJobTable_Connected
      base_url="{% url 'main:get_student_positions'%}"
      load_img='{%static "main/loading.gif"%}'/>
      </div>
    </Provider>
    , document.getElementById('job_data'))
  </script>
  {% endblock %}

{%block body%}

  <div id='job_data'></div>

<a class="link" href="{%url 'main:index'%}">Back</a>

{% endblock %}
