{% extends "main/base.html"%}
{% load static %}

{% block title%}
    Sign In
{% endblock%}

{% block javascript %}

        <script type="text/jsx" src="{% static 'main/js/components/login_input_component.js' %}"> </script>

        <script type="text/jsx">
            ReactDOM.render(<LoginComponent post_url="{% url 'main:sign_check'%}" signup_url="{%url 'main:user_select'%}"
            token={"{% csrf_token %}"} error='{{error}}'/>
            , document.getElementById('login_component_div'));
        </script>

{% endblock %}

{% block body%}

  <!-- Where the resultant Login Component will be rendered by the React -->
  <div id="login_component_div">

  </div>


<a class="link" href="{%url 'main:index'%}">Back</a>

{% endblock %}
